/*----------------------------------------*/
/* Buttons
/*----------------------------------------*/
.btn-pk {
    background-color: $pk2;
    border: 1px solid $pk2;
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: white;
    letter-spacing: 1.5px;
    width: 220px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.25s ease;
}

.btn-pk:hover {
    background-color: $pk1;
    color: white;
}


.btn-wht {
    background-color: $wht;
    border: 2px solid $dk;
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: $dk;
    letter-spacing: 1.5px;
    padding: 15px 20px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.25s ease;
}

.btn-wht:hover {
    background-color: $dk;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}


.btn-wht-fit {
    background-color: $wht;
    border: 2px solid $dk;
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: $dk;
    letter-spacing: 1.5px;
    width: 180px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.25s ease;
}

.btn-wht-fit:hover {
    background-color: $dk;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}


.btn-bk {
    background-color: $dk;
    border: 2px solid $dk;
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: white;
    letter-spacing: 1.5px;
    width: 220px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.25s ease;
}

.btn-bk:hover {
    background-color: $wht;
    color: $dk;
    border: 2px solid $dk;
}


.btn-yl {
    background-color: $yl1;
    border: 1px solid $yl1;
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: $dk;
    letter-spacing: 1.5px;
    width: 220px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.25s ease;
}

.btn-yl:hover {
    background-color: $yl2;
    color: $dk;
}


.btn-size {
    background-color: $wht;
    border: 1px solid $dk;
    font-family: 'lemon-light';
    font-size: 14px;
    font-weight: 700;
    color: $dk;
    width: 35px;
    height: 35px;
    padding: 6px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.25s ease;
}

.btn-size:hover {
    background-color: $dk;
    color: $wht;
}

.size-pallet .active {
    background-color: $dk;
    color: $wht;
}


.btn-color {
    background-color: $wht;
    border: 0px solid $dk;
    font-family: 'lemon-light';
    font-size: 14px;
    font-weight: 700;
    color: $dk;
    width: 35px;
    height: 35px;
    padding: 5px 0px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.btn-color:hover {
    border: 1px solid $dk;
}

.color-pallet .active {
    border: 1px solid $dk;
}


.btn-love {
    background-color: $wht;
    border: 1px solid $dk;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 5px 0px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.25s ease;
}

.warp-love .active {
    background-color: $red;
    border: 1px solid $red;
    fill: $wht;
}

.btn-wht-full {
    background-color: $wht;
    border: 1px solid $dk;
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: $dk;
    letter-spacing: 1.5px;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
    
}

.btn-wht-full:hover {
    background-color: $dk;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}