
.filter-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: "noah";
    font-size: 14px;
    margin-bottom: 18px;
}

.filter-left {
    display: block;
    padding: 10px 0;
    cursor: pointer;
}

.filter-right {
    position: relative;
    display: block;

    ul {
        display: flex;
        padding: 10px 0;

        li {
            padding: 0 10px;
        }

        :last-child {
            padding-right: 5px;
            cursor: pointer;
        }
    }
}

.side-filter {
    font-family: "noah";
    font-size: 12px;

    li {
        line-height: 24px;
        a {
            color: $dk;
        }
    }
}

.filter-title {
    font-size: 18px;
    text-transform: uppercase;
    // font-weight: 700;
    letter-spacing: 6px;
}

.filter-sub {
    margin-top: 16px;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 700;
}


.sort-by {
    position: absolute;
    display: none;
    width: 100%;
}

.sort-warp {
    background-color: $wht;
    border: 1px solid #000;

    ul {
        display: block;

        li {
            line-height: 30px;
        }
    }
}