/*----------------------------------------*/
/* Footer
/*----------------------------------------*/

.site-footer {
    min-height: 270px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding-top: 50px;
    padding-bottom: 50px;
}

.site-footer-warp {
    width: 75%;
    margin: auto;
    
    span {
        font-family: 'lemon';
        font-size: 12px;
        letter-spacing: 1px;
    }

    ul {
        padding-top: 20px;

        li {
            font-family: 'noah';
            font-size: 13px;
            padding: 8px 0;
            
            a {
                color: $grey
            }
        }
    }
}

.btn-socmed {
    background-color: #F7F7F7;
    font-size: 14px;
    width: 35px;
    height: 35px;
    padding: 2px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.25s ease;
}

.btn-socmed:hover {
    background-color: #e6e6e6;
}

.site-copy {
    position: relative;
    height: 45px;
    text-align: center;
    padding: 10px;

    span {
        font-size: 10px;
        font-family: 'noah';
        color: $grey;
    }
}

