
.site-header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    background-color: $wht;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    z-index: 999;

    span {
        font-family: "lemon";
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.site-header-left {
    // width: 250px;
    display: block;

    ul {
        display: inline-flex;
        float: left;
        vertical-align: middle;
        padding: 12px 0;

        li {
            margin: 0 10px;
            position: relative;
            cursor: pointer;
        }
    }
}

.lang {
    margin-left: 0 !important;

    img {
            width: 28px;
            height: 28px;
        }
}

.lang-dropdown {
    display:none; 
    position: absolute;
    border: solid 1px #000;
    
    ul {
        display: block;
        background-color: rgb(219, 219, 219);
        width: 100px;

        li {
            padding: 10px;
            display: flex;
            cursor: pointer;

            p {
                padding: 8px;
                font-family: "noah";
            }
        }
    }
}

.offers {
    a {
        color: $dk;
    }

    :hover {
        color: $yl1;
    }
}

.site-header-center {
    text-align: center;
    
    img {
        min-height: 50px;
        width: auto;
        cursor: pointer;
    }
}

.site-header-right {
    // width: 250px;
    display: block;

    ul {
        // display: inline-flex;
        // float: right;
        // vertical-align: middle;
        padding: 12px 0;
        display: flex;
        justify-content: flex-start;
        // padding: 0;
        height: 100%;

        li {
            margin: 0 10px;
            // position: relative;
            // cursor: pointer;
            display: flex;
            align-items: center;
            // padding: 0px 12px;
            cursor: pointer;
        }

        :last-child {
            margin-right: 0;
            line-height: 26px;
        }   
    }
}

.sparator {
    border: solid 1px $dk;
    margin: 0 16px;
}

.badge {
    position: static;
    width: 18px;
    height: 18px;
    top: -10px;
    right: 0px;
    border-radius: 50%;
    background: #FFD400;
    color: #222222;
    font-family: "noah";
    font-size: 10px;
}

.dropdown {
    position: static;
}

.dropdown-menu {
    visibility: hidden;
    border-radius: 0px;
    top: 80px;
    left: 0;
    position: absolute;
    padding: 18px;
    min-height: 250px;
    width: 100%;
    background-color: $wht;
    z-index: 999;

    ul {
        display: block;

        li {
            font-size: 12px;
            
            a {
                padding-bottom: 10px;
                font-family: "noah";
                color: $dk;

                :hover {
                    color: $gr;
                }
            }
        }
        
    }
}

.menu-title {
    font-family: "lemon";
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
    visibility: visible;
}

// Peek bag 

.peek-bag {
    position: static;
}

.peek-bag-list {
    display: block !important;
    visibility: hidden;
    top: 60px;
    right: 0;
    position: absolute;
    padding: 10px;
    min-height: 100px;
    width: 20%;
    background-color: $wht;
    border: solid 1px #000;
    z-index: 999;
}

.peek-bag-warp {
    padding: 10px 0;
}

.peek-bag:hover .peek-bag-list {
    display: block !important;
    visibility: visible;
}

.peek-bag-item {
    margin: 20px 0px;
}

.peek-bag-info {
    padding-left: 10px;

    p {
        font-family: "noah";
        line-height: 18px;
    }
}

.peek-total {
    display: inline;

    span {
        font-size: 16px;
    }
}

.promo-bar {
    width: 100%;
    height: 24px;
    background-color: $pk2;
    font-family: "lemon";
    color: $wht;
    vertical-align: middle;
    position: fixed;
    z-index: 998;
    top: 80px;

    ul {
        display: flex;
        padding: 4px;
        
        
        li {
            letter-spacing: 2px;
            padding-right: 50px;
            margin: auto;
            
            p {
                font-size: 11px !important;
            }
        }
    }
}


