// Main banner

.main-banner {
    position: relative;
    height: 600px;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
}

.banner-block {
    position: absolute;
    bottom: 40px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    height: 80px;
    text-align: right;
}

.banner-text-block {
    font-family: "noah";
    font-size: 24px !important;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 20px;
    color: $bk;
}

.banner-btn-block {
    display: inline-block;
}
// Main banner end


// Category medium section
.category-medium {
    margin-bottom: 8px;
}

.rows {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
}
// Category medium section end


// Category small block
.category-small {
    position: inherit;
    min-height: 300px;
    width: 100%;
    background-color: $pk3;
    margin-bottom: 8px;
}

.category-small-warp {
    text-align: center;
    text-transform: uppercase;
    padding: 30px;

    h2 {
        letter-spacing: 2px;
        padding-bottom: 20px;
    }

    .owl-carousel {
        margin: auto;
        width: 80%;
        z-index: 0;

        .ctg-name {
            height: 40px;
            background-color: $wht;
            font-family: "noah-bold";
            font-weight: 700;
            padding: 10px 0px;
        }
    }
}
// Category small block end


// Second banner section
.second-banner {
    position: relative;
    height: 600px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
// Second banner section end


// Category big section
.category-big {
    padding: 0 30px;

    .cb-warp {
        position: relative;

        h2 {
            padding: 20px 0;
            text-align: center;
            letter-spacing: 2px;
        }

        .cb-btn-block {
            position: absolute;
            bottom: 40px;
            width: 100%;
            text-align: center;
        }
    }
}

.category-big-mobile {
    display: none;
}
// Category big section end


// Promo banner (optional)
.promo-banner {
    width: 100%;
    max-height: 350px;
    margin: 30px 0;
}
// Promo banner (optional) end


// CTA product section
.cta-section {
    width: 100%;
    padding: 20px;

    .cta-title {
        display: flex;
        padding-bottom: 20px;
        text-align: center;

        hr {
            border-color: $lgr !important;
            border-width: 1px;
        }

        h2 {
            letter-spacing: 2px;
        }
    }
}
// CTA product section end


// Product layout
.product-item {
    padding: 5px;
}

.product-info {
    padding: 10px 0;
    color: $dk;
}

.product-title {
    font-size: 14px;
    font-family: "noah";
}

.product-price {
    font-size: 14px;
    font-family: "noah";
}

.price-normal {
    line-height: 28px;
}

.price-off {
    text-decoration: line-through;
    color: #bababa;
    padding-right: 5px;
}

.price-disc {
    color: $red;
}
// Product layout end


// Store location
.store-section {
    background-color: $pk2;
    min-height: 480px;
    color: $wht;
    position: relative;
}

.store-left {
    height: 100%;
    position: relative;
    

    .store-warp {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
            letter-spacing: 3px;
        }

        p {
            font-family: "noah";
            padding: 10px;
            line-height: 18px;
            letter-spacing: 1px;
        }

        a {
            margin-top: 50px;
        }
    }
}

.store-right {
    position: relative;
    text-align: center;

    img {
        padding: 30px 0;
        // height: 360px;
        width: 100%;
        height: auto;
    }
}
// Store location end


// Store location section
.socmed-section {
    background-color: $pk5;
    min-height: 480px;
    position: relative;
}

.socmed-left {
    position: relative;
    text-align: center;

    img {
        padding: 30px 0;
        width: 100%;
        height: auto;
    }
}

.socmed-right {
    height: 100%;
    position: relative;

    .socmed-warp {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
            letter-spacing: 3px;
        }
        
        p {
            font-family: "noah";
            padding: 10px;
            line-height: 18px;
            letter-spacing: 1px;
        }
        
        a {
            margin-top: 50px;
        }
    }
}
// Store location section end


// Subscribe section
.subscribe-section {
    height: 300px;
    position: relative;
}

.subscribe-warp {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    span {
        font-size: 32px;
        font-weight: 700;
        font-family: "noah-bold";
        line-height: 50px;
    }

    p {
        font-family: "noah";
    }

    a {
        margin-top: 50px;
    }
}
// Subscribe section end