/*----------------------------------------*/
/* Product grid
/*----------------------------------------*/

.category-title {
    font-family: 'noah-bold';
    padding: 10px 0;
}

.toolbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: "noah";
    font-size: 14px;
    margin-bottom: 10px;
}

.toolbar-left {
    display: flex;

    button {
        font-size: 12px;
        text-transform: uppercase;
        vertical-align: middle;
        border: none;
        background: none;
        margin: 0;
        padding: 0;
    }
}

.toolbar-right {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    z-index: 1;

    .toolbar-right-warp {
        display: inline-flex;
        padding: 10px 0;

        .toolbar-right-item {
            position: relative;
            padding: 10px;

            span {
                font-family: 'noah-bold';
            }
        }

        .toolbar-right-item:last-child {
            padding-right: 0;
            cursor: pointer;
        }
    }
}

.sort-by {
    position: absolute;
    display: none;
    width: 100%;
}

.sort-warp {
    background-color: $white;
    border: 1px solid $border;

    ul {
        display: block;
        padding: 10px;

        li {
            line-height: 30px;
            cursor: pointer;
        }

        li:hover {
            text-decoration: underline;
        }
    }
}

.side-filter {
    padding-right: 5px;
    max-width: 15%;

    li a {
        font-family: 'noah';
        font-size: 12px;
        line-height: 24px;
        color: $black-text;
    }
}

.side-filter-title {
    font-size: 16px;
    font-family: 'noah';
    text-transform: uppercase;
    text-align: center;
}

.side-filter-sub {
    font-family: 'noah-bold';
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 16px;
    margin-bottom: 14px;
    font-size: 14px;
}


/* Create two equal columns that floats next to each other */
.product-col {
    padding: 5px;
}

.product-warp {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}

.product-inner {
    position: relative;
    display: block;
    padding: 10px 0;
}

.product-inner-title {
    font-family: 'noah';
    font-size: 14px;
    color: $black-text;
}

.product-inner-price {

    .normal-price {
        padding: 6px 0;

        .price {
            font-family: 'noah';
            font-size: 14px;
            color: $black-text;
        }

        .off {
            text-decoration: line-through;
            font-size: 12px !important;
            color: $non-active;
        }
    }

    .discount-price {

        .price {
            font-family: 'noah';
            font-size: 14px;
            color: $red;
        }

        .percent {
            font-family: 'noah';
            font-size: 14px;
            color: $red;
        }
    }
}

.loadmore {
    width: 100%;
    text-align: center;
    padding: 30px;
}

