/* -- Breadcrumb Navigation -- */
.breadcrumb-gutters {
    position: relative;
}

.breadcrumb-warp {
    border-bottom: 1px solid #d1d1d1;
}

ul.breadcrumb {
    padding: 20px 0px;
    list-style: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

// @media only screen and (max-width: 768px) {
//     ul.breadcrumb {
//         padding: 0px 16px;
//         vertical-align: middle;
//         line-height: 18px;
//     }
// }

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: $dk;
    content: "|";
    font-size: 14px;
}

// @media only screen and (max-width: 768px) {
//     ul.breadcrumb li+li:before {
//         font-size: 9px;
//     }
// }

ul.breadcrumb li a {
    color: $dk;
    text-decoration: none;
    font-family: 'noah';
}

// @media only screen and (max-width: 768px) {
//     ul.breadcrumb li a {
//         font-size: 9px;
//     }
// }

ul.breadcrumb li a:hover {
    color: #9c9c9c;
    text-decoration: none;
}

/* -- Breadcrumb Navigation End -- */


/* Create two equal columns that floats next to each other */
.prod-col {
    float: left;
    width: 25%;
    padding: 5px;
}

/* Clear floats after the columns */
.prod-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}