/*--------------------------------- Responsive Media Quaries -----------------------------*/
// only screen and (max-width:1366px)
// only screen and (max-width:960px)
// only screen and (max-width:768px)
// only screen and (max-width:320px)
/*---------------------------------------------------------------------------*/


@media only screen and (max-width:1366px) {

}



@media only screen and (max-width:960px) {

    h2 {
        font-size: 20px;
    }

    .column {
        -ms-flex: 50%;
        /* IE10 */
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
    }

    .owl-carousel {
        width: 100%;

        .ctg-name {
            font-size: 12px;
            height: 35px;
        }
    }

    .category-big {
        display: none;
    }

    .category-big-mobile {
        display: block;
    }

    .promo-banner {
        margin: 0px;
    }

    .cb-rows {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap;
        /* IE10 */
        flex-wrap: wrap;
        padding: 0px;
    }

    .cb-col {
        position: relative;
        display: block;
        -ms-flex: 50%;
        /* IE10 */
        flex: 50%;
        max-width: 50%;
        padding: 0px;

        img {
            height: 100%;
            object-fit: cover;
        }

        .cb-btn-block {
            color: $dk;
            text-align: center;

            .cb-conten {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                h2 {
                    font-size: 18px;
                    letter-spacing: 1px;
                    line-height: 48px;
                }
            }
        }
    }

    .cta-title {
        .col-5 {
            display: none;
        }

        .col-2 {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}



@media only screen and (max-width:768px) {
    
    // Header section
    .site-header {
        padding: 10px;  
        height: 60px;
    }
    
    .site-header-left {
        display: none;
    }

    .site-header-center img {
        min-height: 10px !important;
        width: auto;
    }

    .promo-bar {
        height: 24px;
        top: 60px;
    }

    .peek-bag-list {
        width: 40%;
    }


    // Button responsive
    .btn-pk,
    .btn-wht,
    .btn-bk {
        width: 180px;
    }

    // Main section
    main {
        margin-top: 84px;
    }

    .banner-block {
        padding-left: 0;
        padding-right: 0;
        right: 0;
        height: auto;
        text-align: center;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .banner-text-block {
        display: none;
    }

    .store-section {
        padding: 30px;

        .store-warp {
            padding: 30px 0;
        }
    }

    .socmed-section {
        padding: 30px;

        .socmed-warp {
            padding: 30px 0;
        }
    }

    .subscribe-warp {
        span {
            font-size: 30px;
            font-family: "noah-bold";
            line-height: 50px;
        }
    }
    
}



@media only screen and (max-width:320px) {
    .site-header-left {
            display: none;
    }
}