// Main tone color
$pink1: #FE5D9F;
$pink2: #F686BD;
$pink3: #F4BBD3;
$white: #FFFFFF;

// Second tone color (aksen)
$yellow: #FFD91B;
$black: #000000;
$black-text: #222222;
$red: #D01345;
$border: #CCCCCC;
$non-active: #BBBBBB;
$grey: #5D6778;
$lg-grey: #f6f5f3;
