:root {
    /* Main tone color */
    --pink1: #FE5D9F;
    --pink2: #F686BD;
    --pink3: #F4BBD3;
    --white: #FFFFFF;

    /* Second tone color (aksen) */
    --yellow: #FFD91B;
    --black: #000000;
    --black-text: #222222;
    --red: #D01345;
    --border: #CCCCCC;
    --non-active: #BBBBBB;
    --grey: #5D6778;
    --dark-grey: #495057;
    --lg-grey: #f6f5f3;
}

/*----------------------------------------*/
/* Component
/*----------------------------------------*/

.compon-header {
    min-height: 24rem;
    height: 24rem;
    background-color: peachpuff;
    justify-content: center;
    text-align: center;
    position: relative;
    color: var(--black-text);
}

.compon-head-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.compon-head-title h1 {
    font-family: 'noah';
    font-size: 50px;
}

.compon-head-title span {
    font-family: 'noah';
}

.compon-title {
    font-family: 'noah';
    font-size: 32px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: "noah";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--dark-grey);
    display: block;
    border: none;
    border-bottom: 2px solid var(--border);
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: var(--dark-grey);
    background-color: transparent;
    border-color: #ff6e42;
    outline: 0;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: var(--black-text);
    opacity: 1;
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%;
}