
/* -- Focus marker killer -- */

.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

button:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

input:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

select:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:focus {
    outline: none !important;
}

button:focus {
    outline: none !important;
}

input:focus {
    outline: none !important;
}

select:focus {
    outline: none !important;
}

.btn:focus {
    box-shadow: none;
}

button:focus {
    box-shadow: none;
}

input:focus {
    box-shadow: none;
}

select:focus {
    box-shadow: none;
}

/* -- End Focus marker killer -- */


/* Custom font family font face */

@font-face {
    font-family: 'lemon';
    src: url(../font/LemonMilk.otf);
}

@font-face {
    font-family: 'lemon-light';
    src: url(../font/LemonMilklight.otf);
}

@font-face {
    font-family: 'noah';
    src: url(../font/Noah-Regular.otf);
}

@font-face {
    font-family: 'noah-bold';
    src: url(../font/Noah-Bold.otf);
}

@font-face {
    font-family: 'noah-italic';
    src: url(../font/Noah-RegularItalic.otf);
}



/* Custom primary color */

:root {
    --pk1: #FE5D9F;
    --pk2: #F686BD;
    --pk3: #F4BBD3;
    --pk4: #FFC2D1;
    --pk5: #FFF3F8;
    --yl1: #FFD400;
    --yl2: #FFEA80;
    --gr: #BDBDBD;
    --dk: #222222;
    --bk: #000000;
    --wht: #FFFFFF;
    --red: #D01345;
}



/* Custom heading and title size */

h1{
    font-size: 32px;
    font-family: 'lemon';
}

h2 {
    font-size: 24px;
    font-family: 'noah-bold';
}

h3 {
    font-size: 16px;
    font-family: 'noah-bold';
}

h4 {
    font-size: 14px;
    font-family: 'noah-bold';
}

p, span {
    font-size: 12px;
}




/* Basic Button size and style */

.btn-pk {
    background-color: var(--pk2);
    border: 1px solid var(--pk2);
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: white;
    letter-spacing: 1.5px;
    width: 220px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.25s ease;
}

.btn-pk:hover {
    background-color: var(--pk1);
    color: white;
}


.btn-wht {
    background-color: var(--wht);
    border: 1px solid var(--dk);
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: var(--dk);
    letter-spacing: 1.5px;
    width: 220px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.25s ease;
}

.btn-wht:hover {
    background-color: var(--dk);
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}


.btn-bk {
    background-color: var(--dk);
    border: 1px solid var(--dk);
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: white;
    letter-spacing: 1.5px;
    width: 220px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.25s ease;
}

.btn-bk:hover {
    background-color: var(--wht);
    color: var(--dk);
    border: 1px solid var(--dk);
}


.btn-yl {
    background-color: var(--yl1);
    border: 1px solid var(--yl1);
    font-family: 'lemon-light';
    font-size: 12px;
    font-weight: 700;
    color: var(--dk);
    letter-spacing: 1.5px;
    width: 220px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.25s ease;
}

.btn-yl:hover {
    background-color: var(--yl2);
    color: var(--dk);
}


.btn-size {
    background-color: var(--wht);
    border: 1px solid var(--dk);
    font-family: 'lemon-light';
    font-size: 14px;
    font-weight: 700;
    color: var(--dk);
    width: 35px;
    height: 35px;
    padding: 6px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.25s ease;
}

.btn-size:hover {
    background-color: var(--dk);
    color: var(--wht);
}

.size-pallet .active {
    background-color: var(--dk);
    color: var(--wht);
}


.btn-color {
    background-color: var(--wht);
    border: 0px solid var(--dk);
    font-family: 'lemon-light';
    font-size: 14px;
    font-weight: 700;
    color: var(--dk);
    width: 35px;
    height: 35px;
    padding: 5px 0px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.btn-color:hover {
    border: 1px solid var(--dk);
}

.color-pallet .active {
    border: 1px solid var(--dk);
}


.btn-love {
    background-color: var(--wht);
    border: 1px solid var(--dk);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 5px 0px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.25s ease;
}

.warp-love .active {
    background-color: var(--red);
    border: 1px solid var(--red);
    fill: var(--wht);
}


/* Input form style */

.group {
    position: relative;
    margin-bottom: 30px;
}

.ginput {
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--gr);
}

.ginput-subs {
    font-size: 12px;
    padding: 10px 10px 5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: none;
    border-bottom: 1px solid var(--gr);
}

.ginput:focus {
    outline: none;
}

.glabel {
    color: var(--dk);
    font-size: 14px;
    font-family: 'noah';
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all;
}

.ginput:focus~.glabel,
.ginput:valid~.glabel {
    top: -10px;
    font-size: 12px;
    color: var(--dk);
}



/* Select list input form style */


.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 41px;
    border-bottom: solid 1px var(--gr);
    font-size: 12px;
    font-family: 'noah';
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: var(--wht);
    border-top: var(--gr) solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .2s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;

}

.option:hover {
    background: var(--pk2);
    font-size: 14px;
    font-weight: 700;
    transition: .2s ease-in-out;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}

.selectopt {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

.selectopt:checked+label {
    order: 1;
    z-index: 2;
    background: var(--wht);
    border-top: none;
    position: relative;
}

.selectopt:checked+label:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--dk);
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

.selectopt:checked+label:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    content: '';
    background: var(--wht);
}

.selectlabel {
    color: var(--dk);
    font-size: 12px;
    font-family: 'noah';
    position: absolute;
    z-index: 10;
    top: -10px;
    font-size: 12px;
    color: var(--dk);
}
